<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
    <title>Home</title>
  </head>
  <body>
    <%- include("../partials/header"); %> <%- include("../partials/footer"); %>

    <script src="<%= process.env.BASE_URL %>javascript/homeStaff.js"></script>
  </body>
</html>
