<Header
  class="fixed w-full top-0 flex flex-row justify-between items-center bg-green-500 h-[50px] z-10"
>
  <div class="ml-10 logo w-44">
    <a href="/"
      ><img src="<%= process.env.BASE_URL %>image/LOGO.png" alt="logo"
    /></a>
  </div>
  <div class="mr-16 home_right">
    <div class="flex flex-row gap-2">
      <% if(staff) {%>
        <% if(staff.avatarImage === "" || staff.avatarImage === null) { %>
          <div class="shrink-0">
          <img
            src="<%= process.env.BASE_URL %>image/avatar.png"
            alt="avatar"
            class="w-9 h-9 border rounded-full"
          />
          </div>
          <%}else { %>
            <img
              src="<%= staff.avatarImage %>"
              alt=""
              class="w-9 h-9 border rounded-full" 
            />
        <% } %>
          <a href="/profile">
            <p class="text-base font-medium mt-2 text-white hover:text-sky-900"><%= staff.fullName %></p>
          </a>
      <% if(role == "QA") {%>
      <div class="drop_down_menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10 text-sky-900"
          id="menu_icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        <div
          class="absolute z-10 hidden py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg right-16 w-30 ring-1 ring-black ring-opacity-5 focus:outline-none"
          id="dropdown"
        >
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <a
            href="/profile"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Your idea</a
          >
          <a
            href="/qa/categories"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Categories</a
          >
          <a
            href="/auth/logout"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Log out</a
          >
        </div>
      </div>
      <% } %> <% if(role == "QAM") {%>
      <div class="drop_down_menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10 text-sky-900"
          id="menu_icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        <div
          class="absolute z-10 hidden py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg right-16 w-30 ring-1 ring-black ring-opacity-5 focus:outline-none"
          id="dropdown"
        >
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <a
            href="/profile"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Your idea</a
          >
          <a
            href="/qam/departments"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Departments</a
          >
          <a
            href="/qam/polls"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Polls</a
          >
          <a
            href="/auth/logout"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Log out</a
          >
        </div>
      </div>
      <% } %> <% if(role == "Admin") {%>
      <div class="drop_down_menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10 text-sky-900"
          id="menu_icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        <div
          class="absolute z-10 hidden py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg right-16 w-30 ring-1 ring-black ring-opacity-5 focus:outline-none"
          id="dropdown"
        >
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <a
            href="/profile"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Your idea</a
          >
          <a
            href="/admin/account"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Accounts</a
          >
          <a
            href="/admin/terms"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Terms</a
          >
          <a
            href="/auth/logout"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Log out</a
          >
        </div>
      </div>
      <% } %> <% if(role == "Staff") {%>
      <div class="drop_down_menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-10 h-10 text-sky-900"
          id="menu_icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        <div
          class="absolute z-10 hidden py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg right-16 w-30 ring-1 ring-black ring-opacity-5 focus:outline-none"
          id="dropdown"
        >
          <!-- Active: "bg-gray-100", Not Active: "" -->
          <a
            href="/profile"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Your idea</a
          >
          <a
            href="/auth/logout"
            class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
            >Log out</a
          >
        </div>
      </div>
      <% } %>

      <!-- <div class="drop_down_menu">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-10 h-10 text-sky-900"
              id="menu_icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
            <div
              class="absolute z-10 hidden py-1 mt-2 origin-top-right bg-white rounded-md shadow-lg right-16 w-30 ring-1 ring-black ring-opacity-5 focus:outline-none"
              id="dropdown"
            >
              Active: "bg-gray-100", Not Active: ""
              <a
                href="/profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
                >Your idea</a
              >
              <a
                href="/admin/account"
                class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
                >Admin</a
              >
              <a
                href="/auth/logout"
                class="block px-4 py-2 text-sm text-gray-700 hover:text-gray-400"
                >Log out</a
              >
            </div>
          </div> -->
      <% } else { %>
      <div></div>
      <%}%>
    </div>
  </div>
</Header>
