
    <Main class="h-screen">
      <div class="flex flex-col items-center">
        <p
          class="mt-[11%] font-extrabold text-9xl text-sky-900 tracking-widest"
        >
          404
        </p>
        <div class="w-48 mt-8">
          <img src="<%= process.env.BASE_URL %>image/LOGO.png" alt="logo" />
        </div>
        <p class="mt-3 text-lg">Page not found</p>
        <a href="/">
          <div
            class="py-4 mt-5 text-white ease-linear translate-x-0 border-2 rounded-lg select-none px-9 submit-btn bg-sky-900 hover:bg-green-500"
          >
            Go back home
          </div>
        </a>
      </div>
    </Main>
