<Main class="pt-[100px] w-3/5 m-auto h-full">
  <div
    class="relative p-3 border-2 border-stone-700 rounded-2xl h-[70%] min-h-[70%] opacity-80 mb-10"
  >
    <div class="flex p-3 mb-5 text-2xl font-semibold border-b-2 title-create">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
        />
      </svg>

      <div class="m-auto">Create a new account</div>
    </div>
    <div class="flex flex-row justify-center gap-4 header-account">
      <div class="Department">
        <label for="product-type">
          Department
          <select
            name="department-type"
            form="create-form-account"
            id="product-type"
            class="border rounded-lg py-[2px] border-slate-400"
          >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">nhanhyeucau</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>
      </div>
      <div class="role">
        <label for="type">
          Role
          <select
            name="role"
            id="type"
            form="create-form-account"
            class="border rounded-lg py-[2px] border-slate-400"
          >
            <option value="0">All</option>
            <option value="1">Without comment</option>
            <option value="2">Anonimous</option>
          </select>
        </label>
      </div>
      <div class="italic terms">
        <label for="myCheck"> Active</label>
        <input
          type="checkbox"
          id="myCheck"
          name="active"
          form="create-form-account"
          class="border rounded-full"
        />
      </div>
    </div>
    <div class="mx-auto w-full max-w-[550px] mt-5">
      <form action="/createpoll" method="GET" id="create-form-account">
        <div class="mb-4">
          <label
            for="name"
            class="block mb-3 text-base font-medium text-black select-none"
          >
            Full name
          </label>
          <input
            type="text"
            name="fullname"
            id="name"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="email"
            class="block mb-3 text-base font-medium text-black"
          >
            Email
          </label>
          <input
            type="email"
            name="email"
            id="email"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="address"
            class="block mb-3 text-base font-medium text-black"
          >
            Address
          </label>
          <input
            type="text"
            name="address"
            id="address"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div class="mb-4">
          <label
            for="phone"
            class="block mb-3 text-base font-medium text-black"
          >
            Phone number
          </label>
          <input
            type="text"
            name="phoneNumber"
            id="phone"
            required
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
          />
        </div>
        <div
          class="w-1/6 px-3 py-2 m-auto text-center text-white border-2 rounded-lg submit-btn bg-sky-900 hover:bg-sky-400"
        >
          <input type="submit" />
        </div>
      </form>
    </div>
  </div>
</Main>
