<Main class="pt-[100px] w-3/5 m-auto min-h-screen">
  <div
    class="relative p-3 border-2 idea border-stone-700 rounded-2xl h-auto opacity-80 overflow-y-auto"
  >
    <div class="flex p-3 text-2xl font-semibold border-b-2 mb- title-create">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="font-extrabold w-7 h-7 text-sky-900 hover:text-sky-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
      </a>

      <div class="m-auto">Terms</div>
    </div>
    <div class="mt-10 content-idea">
      <div class="flex items-center justify-center">
        <div class="mx-auto w-full max-w-[550px]">
        <div class="">
            <p class="text-xl font-extrabold text-gray-900 dark:text-black"> 1. Title:  </p>
            <p class="text-start"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <br />
        <div>
            <p class="text-xl font-extrabold text-gray-900 dark:text-black"> 2. Title:  </p>
            <p class="text-start"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <br />
        <div>
            <p class="text-xl font-extrabold text-gray-900 dark:text-black"> 3. Title:  </p>
            <p class="text-start"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</Main>
